* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  font-family: "Montserrat", "Arial";
}

.hero-page {
  background-color: rgb(225, 255, 143);
  min-height: 800px;
  padding: 40px 20px;
  position: relative;
  overflow: hidden;
}

.hero-page__title {
  margin-top: 196px;
  color: rgb(32, 32, 39);
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 769px;
}

.hero-page__subtitle {
  margin-top: 24px;
  color: rgb(32, 32, 39);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 720px;
}

.bold-text {
  font-weight: 700;
  color: black;
}

header {
  padding-left: 120px;
  padding-right: 500px;
}

.star-big {
  position: absolute;
  right: 0;
  top: 0;
}

.star-1 {
  position: absolute;
  top: 69px;
  left: 156px;
}

.star-2 {
  position: absolute;
  top: 96px;
  left: 63px;
}

.star-3 {
  position: absolute;
  right: 455px;
  bottom: 225px;
}

.star-4 {
  position: absolute;
  right: 344px;
  bottom: 149px;
}

.triangle {
  position: absolute;
  right: 113px;
  top: 468px;
}

.vector1 {
  position: absolute;
  right: 269px;
  top: 0;
}

.vector2 {
  position: absolute;
  right: 231px;
  top: 254px;
}

.vector3 {
  position: absolute;
  top: 379px;
  right: 0;
}

.vector4 {
  position: absolute;
  right: 61px;
  bottom: 0;
}

.go-button {
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  width: 247px;
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 16px 28px 16px 28px;
  margin-top: 48px;
  text-decoration: none;
}

.go-button:hover {
  color: black;
  background: #FFFFFF;
  transition: 0.5s;
}

.animated-strip {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: rgb(188, 236, 48);
  border-top: 2px solid rgba(32, 32, 39, 0.2);
  border-bottom: 2px solid rgba(32, 32, 39, 0.2);
  padding: 27px 49px 27px 49px;
}
.animated-strip__track {
  display: flex;
  white-space: nowrap;
  animation: scroll-left 25s linear infinite;
}
.animated-strip__item {
  display: flex;
  align-items: center;
  gap: 51px;
  padding-right: 57px;
}
.animated-strip__item span {
  color: rgb(32, 32, 39);
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  letter-spacing: 4%;
}
.animated-strip__item svg {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.about-games {
  background-color: rgb(32, 32, 39);
  position: relative;
  z-index: 1;
  padding-bottom: 46px;
}

.about-games__stars-big {
  position: absolute;
  right: 0;
  top: 77px;
  z-index: -1;
}

.about-games__stars-1 {
  position: absolute;
  left: 25px;
  top: 770px;
  z-index: -1;
}

.about-games__stars-2 {
  position: absolute;
  left: 40px;
  top: 822px;
  z-index: -1;
}

.about-games__title {
  padding-top: 94px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}

.about-games__text {
  margin-top: 24px;
  max-width: 788px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.game-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 72px;
}

.game-card {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.2511901855px -7.57px rgba(0, 0, 0, 0.13);
  max-width: 378px;
  max-height: 473px;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: scale(1) translateY(0);
}

.game-card a {
  text-decoration: none;
}

.game-card__img {
  width: 100%;
}

.game-card:hover {
  transform: scale(1.08) translateY(-5px);
}

.game-card-big {
  max-height: 551px;
  transform: translateY(-40px);
}

.game-card-2 {
  min-height: 512px;
}

.game-card__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 32px 32px 36px 32px;
}

.game-card__number {
  border: 1px solid transparent;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  width: 108px;
  height: 36px;
  color: rgb(32, 32, 39);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-card__name {
  color: rgb(32, 32, 39);
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

.mini-games {
  background-color: rgb(32, 32, 39);
  position: relative;
  z-index: 1;
  transition: background-color 0.5s ease;
}
.mini-games__star1 {
  position: absolute;
  right: 123px;
  top: 93px;
  z-index: -1;
}
.mini-games__star2 {
  position: absolute;
  right: 44px;
  top: 126px;
  z-index: -1;
}
.mini-games__star3 {
  position: absolute;
  right: 52px;
  bottom: 65px;
  z-index: -1;
}
.mini-games__star4 {
  position: absolute;
  right: 150px;
  bottom: 45px;
  z-index: -1;
}
.mini-games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 72px;
}
.mini-games__card {
  max-width: 1200px;
  max-height: 500px;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  overflow: hidden;
}
.mini-games__card-right {
  flex-direction: row;
}
.mini-games__name {
  margin-top: 48px;
  color: rgb(32, 32, 39);
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}
.mini-games__name span {
  display: block;
}
.mini-games__text {
  margin-top: 24px;
  color: rgb(32, 32, 39);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.mini-games__info {
  margin-left: 48px;
  display: flex;
  flex-direction: column;
}

.card-box {
  padding-bottom: 144px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.play-btn {
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  width: 247px;
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  text-decoration: none;
}

.play-btn:hover {
  color: black;
  background: transparent;
  transition: 0.5s;
}

.footer {
  background-color: rgb(189, 237, 53);
  height: 150px;
}
.footer__text {
  padding-top: 61px;
  color: rgb(0, 0, 0);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}

@media (max-width: 767px) {
  * {
    box-sizing: border-box;
  }
  .header {
    padding-left: 17px;
    padding-right: 17px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  .star-big {
    max-width: 223.52px;
    max-height: 238.57px;
  }
  .star-1 {
    width: 21px;
    height: 21px;
    left: 91px;
  }
  .star-2 {
    width: 35px;
    height: 35px;
    left: 37px;
  }
  .star-3 {
    width: 18px;
    height: 18px;
    left: 272px;
    bottom: 125px;
  }
  .star-4 {
    width: 39px;
    height: 41px;
    left: 303px;
    bottom: 79px;
  }
  .vector1 {
    display: none;
  }
  .vector2 {
    display: none;
  }
  .vector3 {
    display: none;
  }
  .vector4 {
    display: none;
  }
  .triangle {
    display: none;
  }
  .hero-page__title {
    margin-top: 147px;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .hero-page__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  .hero-page__btn {
    display: flex;
    justify-content: center;
  }
  .go-button {
    margin-top: 36px;
    width: 285px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
  }
  .about-games {
    display: none;
  }
  .card-box {
    padding-bottom: 9.88px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mini-games {
    padding-top: 48px;
  }
  .mini-games__card {
    max-width: 343px;
    max-height: 626.63px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .mini-games__info {
    margin-left: 29px;
  }
  .mini-games__stars {
    display: none;
  }
  .mini-games__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    margin-left: 16px;
    margin-bottom: 48px;
  }
  .mini-games__name {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    margin-top: 29px;
  }
  .mini-games__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 16px;
  }
  .mini-games__btn {
    margin-bottom: 32px;
  }
  .play-btn {
    margin-top: 32px;
    width: 285px;
    height: 55px;
    font-size: 16px;
  }
  .footer {
    height: 100px;
  }
  .footer__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */