* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

body {
    font-family: "Montserrat", "Arial";
}

.hero-page {
    background-color: rgba(225, 255, 143, 1);
    min-height: 800px;
<<<<<<< HEAD
    padding: 40px 20px;
=======
>>>>>>> 0ebc2614d52bb2ebdffe694cd3f2030f080987e9
    position: relative;
    overflow: hidden
}


.hero-page__title {
    margin-top: 196px;
    color: rgba(32, 32, 39, 1);
    font-family: "Montserrat";
<<<<<<< HEAD
    font-style: Bold;
=======
>>>>>>> 0ebc2614d52bb2ebdffe694cd3f2030f080987e9
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 769px;
}

.hero-page__subtitle {
    margin-top: 24px;
    color: rgba(32, 32, 39, 1);
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 720px;
}

.bold-text {
    font-weight: 700;
    color: black;
}


<<<<<<< HEAD
header {
    padding-left: 120px;
    padding-right: 500px;
}

=======
>>>>>>> 0ebc2614d52bb2ebdffe694cd3f2030f080987e9
.star-big {
    position: absolute;
    right: 0;
    top: 0;
}

.star-1 {
    position: absolute;
    top: 69px;
    left: 156px;
}

.star-2 {
    position: absolute;
    top: 96px;
    left: 63px;
}

.star-3 {
    position: absolute;
    right: 455px;
    bottom: 225px;
}

.star-4 {
    position: absolute;
    right: 344px;
    bottom: 149px;
}

.triangle {
    position: absolute;
    right: 117px;
    bottom: 206px;
}

.vector1 {
    position: absolute;
    right: 269px;
    top: 0;
}

.vector2 {
    position: absolute;
    right: 231px;
    top: 254px;
}

.vector3 {
    position: absolute;
    top: 379px;
    right: 0;
}

.vector4 {
    position: absolute;
    right: 61px;
    bottom: 0;
}


.go-button {
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    width: 247px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 28px 16px 28px;
    margin-top: 48px;
    text-decoration: none;
}


<<<<<<< HEAD

=======
>>>>>>> 0ebc2614d52bb2ebdffe694cd3f2030f080987e9
.go-button:hover {
    color: black;
    background: #FFFFFF;
    transition: 0.5s;
}

.animated-strip {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgba(188, 236, 48, 1);
    max-width: 3220px;
    max-height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 57px;
   padding: 27px 49px 27px 49px;
}

.animated-strip__text {
    color: rgba(32, 32, 39, 1);
 font-family: "Montserrat";
 font-size: 30px;
 font-weight: 700;
 line-height: 110%;
 text-align: left;
 text-transform: uppercase;
<<<<<<< HEAD
font-family: "Montserrat";
font-style: Bold;
font-size: 30px;
font-weight: 700;
line-height: 110%;
letter-spacing: 4%;
text-align: left;
text-transform: uppercase;
=======
>>>>>>> 0ebc2614d52bb2ebdffe694cd3f2030f080987e9
}

.about-games {
    background-color: rgba(32, 32, 39, 1);
    position: relative;
    z-index: 1;
    padding-bottom: 46px;
}

.about-games__stars-big {
    position: absolute;
    right: 0;
    top: 77px;
    z-index: -1;
}

.about-games__stars-1 {
    position: absolute;
    left: 25px;
    top: 770px;
    z-index: -1;
}

.about-games__stars-2 {
    position: absolute;
    left: 40px;
    top: 822px;
    z-index: -1;
}

.about-games__title {
    padding-top: 94px;
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat";
<<<<<<< HEAD
    font-style: Bold;
=======
>>>>>>> 0ebc2614d52bb2ebdffe694cd3f2030f080987e9
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
}

.about-games__text {
    margin-top: 24px;
    max-width: 788px;
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.game-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 32px; 
    margin-top: 72px;
}

.game-card {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.251190185546875px -7.57px rgba(0, 0, 0, 0.13);
    max-width: 378px;
    max-height: 473px;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);;
    transform: scale(1) translateY(0);
}

.game-card a {
    text-decoration: none;
}

.game-card__img {
    width: 100%;
}

.game-card:hover {
    transform: scale(1.08) translateY(-5px);
}

.game-card-big {
   max-height: 551px;
   transform: translateY(-40px);
}


.game-card-2 {
    min-height: 512px;
}


.game-card__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 32px 32px 36px 32px;
}


.game-card__number {
   border: 1px solid transparent;
   border-radius: 52.58px;
   background: rgba(247, 247, 247, 1);
   width: 108px;
   height: 36px;
   color: rgba(32, 32, 39, 1);
   font-family: "Montserrat";
   font-size: 16px;
   font-weight: 500;
   line-height: 110%;
   display: flex;
   justify-content: center;
   align-items: center;
}


.game-card__name {
    color: rgba(32, 32, 39, 1);
    font-family: "Montserrat";
<<<<<<< HEAD
    font-style: Bold;
=======
>>>>>>> 0ebc2614d52bb2ebdffe694cd3f2030f080987e9
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
}

<<<<<<< HEAD

=======
>>>>>>> 0ebc2614d52bb2ebdffe694cd3f2030f080987e9
.mini-games {
 background-color: rgba(32, 32, 39, 1);
 position: relative;  
 z-index: 1;
   
   &__star1 {
     position: absolute;
     right: 123px;
     top: 93px;
     z-index: -1;
   }

    &__star2 {
     position: absolute;
     right: 44px;
     top: 126px;
     z-index: -1;
   }

    &__star3 {
     position: absolute;
     right: 52px;
     bottom: 65px;
     z-index: -1;
   }

    &__star4 {
     position: absolute;
     right: 150px;
     bottom: 45px;
     z-index: -1;
   }

   &__title {
     color: rgba(255, 255, 255, 1);
     font-size: 64px;
     font-weight: 700;
     line-height: 78px;
     letter-spacing: 0px;
     text-align: left;
     margin-bottom: 72px;
    }


    &__card {
     margin-top: 32px;
     max-width: 1200px;
     max-height: 500px;
     border-radius: 30px;
     box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
     background: rgba(255, 255, 255, 1);
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-between;
     overflow: hidden;
    }

    &__card-right {
        flex-direction: row;
    }


    &__name {
     margin-top: 48px;
     color: rgba(32, 32, 39, 1);
     font-family: "Montserrat";
     font-size: 48px;
     font-weight: 700;
     line-height: 59px;
     letter-spacing: 0px;
     text-align: left;
    }

    &__text {
     margin-top: 24px;
     color: rgba(32, 32, 39, 1);
     font-family: "Montserrat";
     font-size: 24px;
     font-weight: 400;
     line-height: 32px;
     letter-spacing: 0px;
     text-align: left;
     max-width: 457px;
    }

    &__info {
     margin-left: 48px;
     display: flex;
     flex-direction: column;
    }
}

.card-box {
    padding-bottom: 144px;
}


.play-btn {
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    width: 247px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    text-decoration: none;
}

.play-btn:hover {
    color: black;
    background: transparent;
    transition: 0.5s;
}

.footer {
    background-color: rgba(189, 237, 53, 1);
    height: 150px;
    &__text {
        padding-top: 61px;
        color: rgba(0, 0, 0, 1);
        font-family: "Montserrat";
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;
    }
}


@import 'mobile';

